.holder-brand-social {
  display: flex;
  justify-content: space-between;
}

.holder-social-header {
  align-self: flex-end;

  & i {
    font-size: 35px;
    color: $brand-primary;
  }
}

.banner nav {
  border-bottom: 1px solid #008bd2;
  border-top: 1px solid #008bd2;
  margin-top: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.banner nav li {
  @extend .nav-item;
}

.banner nav a {
  @extend .nav-link;

  color: #fff;
}

header.banner {
  background: #f3f4f5;
  padding-top: 20px;
  padding-bottom: 34px;
}

a.brand img {
  max-width: 430px;
}

.nav.navbar-nav.mr-auto li a {
  background: $brand-primary;
  margin-right: 10px;
  font-family: "QuickSand", sans-serif;
  font-weight: 500;
}

.shiftnav-toggle-button.hamburger {
  outline: none;
  padding: 15px;
  padding-bottom: 10px;
}

.shiftnav-toggle-button:hover {
  padding: 15px;
  padding-bottom: 10px;
  background: $brand-primary;
  outline: none;

  & .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: #fff !important;
  }
}

.shiftnav-toggle-button:focus {
  outline: none;
}

.shiftnav.shiftnav-menu_right ul.shiftnav-menu li.menu-item:hover > .shiftnav-target {
  background-color: $brand-primary;
}

.shiftnav .shiftnav-panel-close {
  display: block;
  position: relative;
  background: $brand-primary;
}

.home .page-header {
  display: none;
}

.heading-subheader .uabb-subheading.uabb-text-editor p {
  background: #008bd2;
  display: inline-block;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
}

.box-programma h3 {
  background: #fff;
  display: inline-block;
  border-radius: 150px;
  padding: 10px;
}

.box-programma .uabb-text-editor {
  margin-top: 10px;
  border-top: 1px solid;
  padding-top: 10px;
}

@media only screen and (max-width: 960px) {
  ul#menu-principale {
    width: 100%;
    text-align: center;
  }

  li.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item {
    margin: 5px;
  }
}

.page-header h1 {
  display: none;
}

@media only screen and (max-width: 430px) {
  a.brand img {
    max-width: 260px;
  }
}
